<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="container mt-4">
      <div class="card">
        <div class="card-header">
          <h4>UPT Titip</h4>
        </div>
        <div class="card-body">
          <form action="">
            <label for="nama" class="form-label">Nama :</label>
            <select class="form-control" name="nama">
              <option value="">Pilih Nama</option>
              <option value="">Nama 1</option>
              <option value="">Nama 2</option>
            </select>

            <div class="row my-4">
              <label for="pesanan" class="form-label">Pesanan 1 :</label>
              <div class="col-md-8">
                <select name="pesanan" class="form-control">
                  <option value="">Pilih Pesanan</option>
                  <option value="">Pesanan 1</option>
                  <option value="">Pesanan 2</option>
                </select>
              </div>
              <div class="col-md-4">
                <select name="quantity" class="form-control">
                  <option value="">Quantity</option>
                  <option value="">1</option>
                  <option value="">2</option>
                  <option value="">3</option>
                  <option value="">4</option>
                  <option value="">5</option>
                </select>
              </div>
            </div>

            <div class="d-flex justify-content-between">
              <button class="btn btn-primary btn-sm">Tambah Pesanan +</button>
              <button class="btn btn-success btn-sm">Simpan Pesanan ></button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
