* {
    font-family: 'Poppins', sans-serif;
}

input[type=checkbox] {
    transform: scale(1.4);
}

input[readonly] {
    margin-top: 10px;
    border: none;
}

.upt-titip {
    background-color: #8E2DE2;
    background-image: linear-gradient(to right, #8E2DE2, #4A00E0);
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 70px;
    font-weight: 900;
}

.border-upt {
    border: 5px solid;
    padding-top: 10px;
    padding-bottom: 20px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #4A00E0, #8E2DE2);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}

.header-purple {
    background-color: #8E2DE2;
    color: #fff;
}

.list-item {
    display: flex;
    justify-content: center;
}


.btn-purple {
    color: #fff;
    background-color: #8E2DE2;
    border-color: #8E2DE2;
}

.btn-purple:hover {
    color: #fff;
    background-color: #5b1b92;
    border-color: #5b1b92;
}

.btn-check:focus+.btn-purple,
.btn-purple:focus {
    color: #fff;
    background-color: #5b1b92;
    border-color: #5b1b92;
    box-shadow: 0 0 0 0.25rem rgba(90, 27, 146, 0.5);
}

.btn-check:checked+.btn-purple,
.btn-check:active+.btn-purple,
.btn-purple:active,
.btn-purple.active,
.show>.btn-purple.dropdown-toggle {
    color: #fff;
    background-color: #5b1b92;
    border-color: #5b1b92;
}

.btn-check:checked+.btn-purple:focus,
.btn-check:active+.btn-purple:focus,
.btn-purple:active:focus,
.btn-purple.active:focus,
.show>.btn-purple.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(90, 27, 146, 0.5);
}

.btn-purple:disabled,
.btn-purple.disabled {
    color: #fff;
    background-color: #8E2DE2;
    border-color: #8E2DE2;
}

.session_closed {
    font-size: 2.7rem;
    color: #8E2DE2;
}

.sessid {
    color: #8E2DE2;
}

.leftonly {
    text-align: left;
}